.imgconfig {
    width: 100%;
    height: auto;
}

.container-gallerybig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: orange;
    justify-content: center;
    padding: 2px;
    overflow: hidden;
    height: auto;
    transition: transform .100s;
}

.container-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: orange;
    justify-content: center;
    padding: 7px;
    overflow: hidden;
    height: auto;
    transition: transform .100s;
}

#search-input {
    width: 50%;
    font-weight: bold;
}


/*ButtonConfiguration*/

.button-img {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    width: 5%;
}

#lupa {
    width: 20px;
}

.searchercontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.container-gallery:hover {
    transform: scale(1.05);
}


/*SetUp configuration*/

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

 :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 0.8);
}

.setupcontainer {
    margin: 15px;
    background-color: #212534;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    color: white;
}

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    z-index: 0;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}

.card::after {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::before {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.bestsetup {
    width: 100%;
}

#setup {
    color: white;
    font-weight: bold;
}